@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Noto Sans;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #d6d7da;

  @media (max-width: 1600px) {
    height: max-content;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.dark {
    background: #080808e0;
  }

  & #root {
    width: 90vw;
    height: 80vh;
    max-width: 1500px;
    display: flex;
    align-items: stretch;
    position: relative;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 1600px) {
      width: 100vw;
      min-height: 100vh;
      height: max-content;
      border-radius: 0;
    }

    @media (max-width: 1250px) {
      flex-direction: column;
    }

    &.light {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }

    & .background-box {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
    }

    & .search-container {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1em;
      padding: 2em;
      border-right: 1px solid #fff;

      @media (max-width: 1250px) {
        width: 100%;
        height: max-content;
        min-height: 230px;
        border-bottom: 1px solid #fff;
        border-right: none;
      }

      @media (max-width: 750px) {
        padding-block: 6em;
      }

      & .search-box {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        overflow: hidden;
        color: #fff;
        padding-right: 1em;

        &.light {
          background: rgba(255, 255, 255, 0.15);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        &.dark {
          background: rgba(8, 8, 8, 0.404);
          box-shadow: 0 5px 15px 0 rgba(8, 8, 8, 0.37);
          backdrop-filter: blur(4px);
          -webkit-backdrop-filter: blur(4px);
        }

        & input {
          border: none;
          outline: none;
          padding: 1em;
          font-size: 1.2em;
          background-color: transparent;
          color: #fff;

          &::placeholder {
            color: #ddd;
          }
        }
      }

      & .parent-box {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        height: fit-content;
        gap: 1em;
        width: 100%;

        @media (max-width: 1250px) {
          flex-direction: row;
          padding-top: 1em;
        }

        @media (max-width: 840px) {
          display: grid;
        }

        & .box {
          padding: 10px;
          padding-left: 30px;
          border-radius: 10px;

          @media (max-width: 1250px) {
            padding-left: 20px;
            min-width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            gap: 1em;
          }

          @media (max-width: 1024px) {
            &.weather-box {
              flex-direction: column-reverse;
              grid-row-start: 1;
              grid-row-end: 3;
              grid-column-start: 1;
              grid-column-end: 3;
            }
            &:nth-child(2) {
              grid-row-start: 1;
              grid-row-end: 2;
              grid-column-start: 3;
              grid-column-end: 4;
            }
            &:nth-child(3) {
              grid-row-start: 1;
              grid-row-end: 2;
              grid-column-start: 4;
              grid-column-end: 5;
            }
            &:nth-child(4) {
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 3;
              grid-column-end: 4;
            }
            &:nth-child(5) {
              grid-row-start: 2;
              grid-row-end: 3;
              grid-column-start: 4;
              grid-column-end: 5;
            }
          }

          @media (max-width: 500px) {
            &.weather-box {
              flex-direction: column-reverse;
              grid-row-start: 1;
              grid-row-end: 3;
              grid-column-start: 1;
              grid-column-end: 3;
            }
            &:nth-child(2) {
              grid-row-start: 3;
              grid-row-end: 4;
              grid-column-start: 1;
              grid-column-end: 2;
            }
            &:nth-child(3) {
              grid-row-start: 3;
              grid-row-end: 4;
              grid-column-start: 2;
              grid-column-end: 3;
            }
            &:nth-child(4) {
              grid-row-start: 4;
              grid-row-end: 5;
              grid-column-start: 1;
              grid-column-end: 2;
            }
            &:nth-child(5) {
              grid-row-start: 4;
              grid-row-end: 5;
              grid-column-start: 2;
              grid-column-end: 3;
            }
          }

          &.light {
            background: rgba(255, 255, 255, 0.377);
            box-shadow: 0 8px 32px 0 rgba(130, 130, 133, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
          }

          &.dark {
            background: rgba(8, 8, 8, 0.404);
            box-shadow: 0 8px 15px 0 rgba(8, 8, 8, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
          }

          &.weather-box {
            padding-left: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            @media (max-width: 1250px) {
              padding-left: 10px;
            }
          }

          & img {
            height: 100px;
            min-width: 100px;
            width: max-content;
          }

          & h1 {
            font-size: 1.6em;
            font-weight: 500;
            color: #fff;
          }

          & h2 {
            font-weight: 400;
            color: #fff;
          }

          & p {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 600;
              color: #f1f1f1;

            @media (max-width: 1024px) {
              gap: 5px;
            }
          }
        }
      }
    }

    & .content-box {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      color: #fff;

      @media (max-width: 1250px) {
        width: 100%;
        height: max-content;
      }

      & .user-weather {
        width: 100%;
        height: 50%;
        border-bottom: 1px solid #fff;
        padding: 1em;

        @media (max-width: 1450px) {
          height: max-content;
        }

        @media (max-width: 1250px) {
          & > h2,
          & > h3 {
            text-align: center;
          }
        }

        & > h2 {
          font-size: 2.2em;
        }

        & > h3 {
          font-size: 1.8em;
        }

        & .user-weather-box {
          margin-top: 1em;
          padding: 1em;
          width: 100%;
          height: max-content;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          gap: 1em;

          @media (max-width: 1450px) {
            display: grid;
          }

          & > h1 {
            padding: 10px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1em;
            border-block: 1px solid #fff;

            & > button {
              margin-left: 1em;
              padding: 10px 2em;
              border-radius: 30px;
              font-size: 16px;
              font-weight: 600;
            }
          }

          & .box {
            padding: 1em;
            border-radius: 10px;
            height: 200px;
            width: 180px;
            min-width: 150px;

            @media (max-width: 1450px) {
              &.weather-box {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                width: 300px;
                height: 300px;

                & h2 {
                  margin: auto;
                  font-size: 1.8em;
                }

                & img {
                  width: 180px;
                  height: 180px;
                }
              }
              &:nth-child(2) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 3;
                grid-column-end: 4;
              }
              &:nth-child(3) {
                grid-row-start: 1;
                grid-row-end: 2;
                grid-column-start: 4;
                grid-column-end: 5;
              }
              &:nth-child(4) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 3;
                grid-column-end: 4;
              }
              &:nth-child(5) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 4;
                grid-column-end: 5;
              }
            }

            @media (max-width: 740px) {
              &.weather-box {
                grid-row-start: 1;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
                margin: auto;
              }
              &:nth-child(2) {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 2;
              }
              &:nth-child(3) {
                grid-row-start: 3;
                grid-row-end: 4;
                grid-column-start: 2;
                grid-column-end: 3;
              }
              &:nth-child(4) {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 1;
                grid-column-end: 2;
              }
              &:nth-child(5) {
                grid-row-start: 4;
                grid-row-end: 5;
                grid-column-start: 2;
                grid-column-end: 3;
              }
            }

            &.weather-box {
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              align-items: center;
            }

            &.light {
              background: rgba(255, 255, 255, 0.377);
              box-shadow: 0 8px 15px 0 rgba(130, 130, 133, 0.37);
              backdrop-filter: blur(4px);
              -webkit-backdrop-filter: blur(4px);
            }

            &.dark {

            background: rgba(8, 8, 8, 0.404);
            box-shadow: 0 8px 15px 0 rgba(8, 8, 8, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
            }

            & h1 {
              font-weight: 500;
              font-size: 2em;
              margin-top: 1em;
            }

            & h2 {
              font-size: 1.2em;
              display: flex;
              align-items: center;
              gap: 10px;
              font-weight: 600;
              color: #f1f1f1;
            }
          }
        }
      }

      & .user-option-box {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        border-bottom-left-radius: 10px;

        @media (max-width: 1450px) {
          padding: 1em;
        }

        @media (max-width: 1250px) {
          position: fixed;
        }

        &.light {
          background-color: #f6f6f8;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }

        &.dark {
          background-color: #27244bc9;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px,
            rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;

          & .divider {
            background-color: #fff;
          }
        }

        & button {
          width: 35px;
          display: flex;
          place-content: center;
          height: 30px;
          border-radius: 50%;
          font-weight: 600;

          &.light {
            background-color: #fff;
            color: #000;

            &.active {
              background-color: #000;
              color: #fff;
            }
          }

          &.dark {
            background-color: #000;
            color: #fff;
            box-shadow: rgba(255, 255, 255, 0.25) 0px 2px 5px -1px,
              rgba(255, 255, 255, 0.3) 0px 1px 3px -1px;

            &.active {
              background-color: #fff;
              color: #000;
            }
          }
        }
      }
    }

    & .weather-history-box {
      width: 100%;
      height: 50%;
      padding: 1em;

      & > h2 {
        font-size: 2.2em;

        @media (max-width: 1250px) {
          text-align: center;
        }
      }

      & .history-box {
        width: 100%;
        height: 100%;
        padding: 1em;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1em;
        overflow-x: scroll;

        @media (max-width: 1600px) {
          padding-block: 1em;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        & .box {
          min-height: 200px;
          min-width: 160px;
          border-radius: 10px;
          padding: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 10px;

          &.light {
            background: rgba(255, 255, 255, 0.377);
            box-shadow: 0 1px 10px 0 rgba(130, 130, 133, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
          }

          &.dark {
            background: rgba(8, 8, 8, 0.404);
            box-shadow: 0 8px 15px 0 rgba(8, 8, 8, 0.37);
            backdrop-filter: blur(4px);
            -webkit-backdrop-filter: blur(4px);
          }

          & p {
            font-weight: 600;
              color: #f1f1f1;
          }

          & img {
            height: 80px;
          }
        }
      }
    }
  }
}
